@import "../../../../../../utils/colors";


.experiment-sidebar-sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: calc(100vh);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  background: $white;
}

.experiment-sidebar__menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.experiment-sidebar__menu a {
  display: block;
  color: $gray-600;
  padding: 0.8rem 1.5rem;
  border-top: 1px solid $border-color;
  &:hover {
    background-color: $green-highlight;
    cursor: pointer;
    text-decoration: none;
  }
}
